<header id="header">
    <div class="inner">
        <a href="#" class="logo">MKRISTU</a>
        <nav id="nav">
            <a href="#">HOME</a>
            <a style="cursor: pointer;" (click)="scrollTo('about')">ABOUT</a>
            <a style="cursor: pointer;" (click)="scrollTo('my-work')">MY WORK</a>
            <a style="cursor: pointer;" (click)="scrollTo('contact')">CONTACT</a>
        </nav>
    </div>
    <app-loader></app-loader>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<section id="banner">
    <div class="inner">
        <h1><span>I am Olwethu Ntshinga, a web and desktop app developer. Thank you for visiting my website.
                Feel free to browse around for my work and get in touch with me below.
            </span></h1>
        <ul class="actions">
            <li><a href="#" class="button alt">Get Started</a></li>
        </ul>
    </div>
</section>
