<section id="about">
    <br />
    <br />
    <br />
    <br />
    <div class="inner">
        <header>
            <h2>ABOUT</h2>
        </header>
        <p>I am Olwethu Ntshinga, a Web and Desktop app developer. I'm particularly interested in developing websites
            for individuals, small and large companies. Please have a quick squeeze and some technology that I'm skilled
            at and my previous work below.</p>
        <ul class="actions">
            <li><a href="#" class="button alt">Chat to me</a></li>
        </ul>
    </div>

    <div class="inner">
        <ul class="list-group list-group-horizontal" style="flex-wrap: wrap;">
            <li class="list-group-item">
                <article>
                    <div class="content">
                        <header>
                            <h3>Angular & AngularJS</h3>
                        </header>
                        <div class="image fit">
                            <img [src]="'https://angular.io/assets/images/logos/angular/angular.png'"
                                alt="Angular & AngularJS" />
                        </div>
                        <p>Angular is a platform for building mobile and desktop web applications. Click <a
                                href="https://angular.io/" target="_blank">here</a> to learn more.</p>
                    </div>
                </article>
            </li>
            <!-- <li class="list-group-item">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>TypeScript</h3>
                        </header>
                        <div class="image fit">
                            <img [src]="'https://raw.githubusercontent.com/microsoft/TypeScript-Website/f407e1ae19e5e990d9901ac8064a32a8cc60edf0/packages/typescriptlang-org/static/branding/ts-logo-512.svg'"
                                alt="TypeScript" />
                        </div>
                        <p>TypeScript is an open-source language which builds on JavaScript, one of the world's most
                            used tools,
                            by adding static type definitions. Click <a href="https://www.typescriptlang.org/"
                                target="_blank">here</a> to learn more.</p>
                    </div>
                </article>
            </li>
            <li class="list-group-item">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>CSS</h3>
                        </header>
                        <div class="image fit">
                            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png'"
                                alt="CSS" />
                        </div>
                        <p>Cascading Style Sheets (CSS) is a simple mechanism for adding style (e.g., fonts, colors,
                            spacing) to
                            Web documents.
                            Click <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank">here</a> to
                            learn
                            more.
                        </p>
                    </div>
                </article>
            </li>
            <li class="list-group-item">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>HTML</h3>
                        </header>
                        <div class="image fit">
                            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1024px-HTML5_logo_and_wordmark.svg.png'"
                                alt="HTML" />
                        </div>
                        <p>HTML is the standard markup language for Web pages. With HTML you can create your own
                            Website.
                            Click <a href="https://www.w3schools.com/html/" target="_blank">here</a> to learn more.
                        </p>
                    </div>
                </article>
            </li>
            <li class="list-group-item">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>C#</h3>
                        </header>
                        <div class="image fit">
                            <img [src]="'https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png'"
                                alt="C#" />
                        </div>
                        <p>C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET
                            Framework.
                            Click <a href="https://www.w3schools.com/cs/" target="_blank">here</a> to learn more.
                        </p>
                    </div>
                </article>
            </li>
            <li class="list-group-item">
                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>SQL Server</h3>
                        </header>
                        <div class="image fit">
                            <img [src]="'https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_standard/public/logo-microsoft-sql-server-595x3350.jpg?itok=n7zdyiWo'"
                                alt="Microsoft SQL Server'" />
                        </div>
                        <p>Microsoft SQL Server is a relational database management system developed by Microsof.
                            Click <a href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server" target="_blank">here</a> to learn more.
                        </p>
                    </div>
                </article>
            </li> -->
        </ul>
        <p>My skills also include ASP.NET Web API to integrate the client-side logic with the server-side code for fetching and sending data to and from the server. I also have working knowledge of Google Firebase.</p>
    </div>
</section>